.cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cart-details {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.cart-title {
    font-size: 2rem;
}

.cart span {
    margin: 0.2rem 0;
}

.cart-total {
    font-weight: 700;
    font-size: 1.2rem;
}